@import '../../styles/reset';
@import '../../styles/colors';
@import '../../styles/_mixins.scss';

.header {
  background-color: $black;
  font-family: 'DM Sans', 'Times New Roman', Times, serif;
  padding: 20px 115px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $light;
  position: relative;

  @media screen and (max-width: 720px) {
    padding: {
      left: 20px;
      right: 20px;
    }
  }

  .description {
    @extend %m-reset;
    @include font(24px, 700, 24px);

    @media screen and (max-width: 720px) {
      font-size: 20px;
    }

    @media screen and (max-width: 480px) {
      font-size: 16px;
    }
  }
}
