@import '../../styles/mixins';
@import '../../styles/colors';
@import '../../styles/reset';

.timeline {
  @extend %list-reset;
  max-width: 1024px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'DM Sans', 'Times New Roman', Times, serif;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 8px;
    height: 100%;
    position: absolute;
    left: calc(50% - 4px);
    top: 0;
    background-color: $blue;
  }

  .item {
    width: calc(50% - 4px);
    position: relative;
    display: flex;
    flex-direction: row;

    &::before {
      content: '';
      box-sizing: border-box;
      width: 30px;
      height: 30px;
      border: 4px solid $blue;
      background-color: $light;
      border-radius: 50%;
      position: absolute;
      top: 50%;
    }

    &:not(:first-of-type) {
      margin-top: 20px;
    }

    &:nth-of-type(odd) {
      align-self: flex-start;
      justify-content: flex-start;

      &::before {
        right: 0;
        transform: translate(15px + 4px, -50%);
      }
    }

    &:nth-of-type(even) {
      align-self: flex-end;
      justify-content: flex-end;

      &::before {
        left: 0;
        transform: translate(-15px - 4px, -50%);
      }
    }
  }

  .card {
    width: 90%;
  }
}
