@import '../../styles/colors';
@import '../../styles/mixins';

@keyframes arrow {
  0% {
    transform: rotate(45deg) translate(0, 0);
  }
  100% {
    transform: rotate(45deg) translate(5px, 5px);
  }
}

.button {
  @include font(16px, 500, 1);
  box-sizing: border-box;
  font-family: 'DM Sans', 'Times New Roman', Times, serif;
  aspect-ratio: 1 / 1;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  background-color: $black;
  color: $light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  @media screen and (max-width: 1024px) {
    font-size: 14px;
  }

  @media screen and (max-width: 720px) {
    font-size: 12px;
  }

  @media screen and (max-width: 480px) {
    font-size: 10px;
  }

  &::after {
    content: '';
    box-sizing: border-box;
    display: block;
    border: 3px solid $light;
    border-left-color: transparent;
    border-top-color: transparent;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);

    @media screen and (max-width: 720px) {
      width: 18px;
      height: 18px;
    }

    @media screen and (max-width: 480px) {
      width: 14px;
      height: 14px;
    }
  }

  &:hover::after {
    animation: arrow 0.7s ease-in-out 0s infinite alternate;
  }
}
