@import '../../styles/colors';
@import '../../styles/reset';
@import '../../styles/mixins';

$social-colors: (
  'vk': $blue,
  'github': #ccc,
  'telegram': #0088cc,
  'whatsapp': #25d366,
);

.footer {
  background-color: $black;
  font-family: 'DM Sans', 'Times New Roman', Times, serif;
  color: $light;
  padding: 60px 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .address {
    margin-bottom: 27px;
  }

  .list {
    @extend %list-reset;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 15px;

    .img > path {
      transition: fill 0.3s ease;
    }

    @each $social, $color in $social-colors {
      .img.#{$social}:hover > path {
        fill: $color;
      }
    }
  }

  .author {
    @extend %m-reset;
    @include font(16px, 400, 24px);
  }
}
