@import '../../styles/colors';

.button {
  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;
  width: 40px;
  height: 40px;
  background-color: $blue;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 2;

  &:hover {
    background-color: $light;

    .span,
    .span::before,
    .span::after {
      background-color: $blue;
    }
  }

  @media screen and (min-width: 721px) {
    display: none;
  }

  @media screen and (max-width: 480px) {
    width: 35px;
    height: 35px;
  }

  .span {
    position: relative;

    &,
    &::before,
    &::after {
      display: block;
      width: 30px;
      height: 4px;
      background-color: $light;
      border-radius: 3px;

      @media screen and (max-width: 480px) {
        width: 27px;
      }
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      transition: transform 0.3s ease;
    }

    &::before {
      top: -8px;
    }

    &::after {
      bottom: -8px;
    }
  }

  &_active {
    .span {
      visibility: hidden;

      &::before {
        visibility: visible;
        transform: translateY(8px) rotate(-45deg);
      }

      &::after {
        visibility: visible;
        transform: translateY(-8px) rotate(45deg);
      }
    }
  }
}
