@import '../../styles/mixins';
@import '../../styles/colors';
@import '../../styles/reset';

.card {
  box-sizing: border-box;
  font-family: 'DM Sans', 'Times New Roman', Times, serif;
  border: 1px solid $black;
  border-radius: 5px;
  padding: 30px 20px;

  .year {
    @include font(24px, 500, 24px);
    @extend %m-reset;
    color: $black;
  }

  .description {
    @extend %m-reset;
    @include font(20px, 500, 24px);
    margin-top: 20px;
    color: $black;
  }
}
